body{
    margin: 0px;
}
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/main.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Nanum Pen Script' !important;
}

h1{
    margin-left: 100px;
    color: #ffffff;
}

.nav-link:hover,
.nav-link.active {
    color: #4E4E4E !important;
}